In [1]:
import pandas

In [4]:
dataset = pandas.read_csv('marks.csv')

In [5]:
dataset

   name  duration  marks
0  abhi         4     40
1  eric         6     60
2  jack         2     20
3  amit         6     60

In [6]:
type(dataset)

pandas.core.frame.DataFrame

In [7]:
dataset['duration']

0    4
1    6
2    2
3    6
Name: duration, dtype: int64

In [9]:
sum(dataset['marks'])

180

In [11]:
5 > 2

True

In [12]:
5 < 2

False

In [13]:
5 == 2

False

In [16]:
dataset['duration'] == 4

0     True
1    False
2    False
3    False
Name: duration, dtype: bool

In [22]:
dataset[dataset['duration'] == 8]

Empty DataFrame
Columns: [name, duration, marks]
Index: []