In [1]:
name = "vimal"

In [2]:
name

'vimal'

In [3]:
name = "rahul"

In [5]:
type(name)

str

In [12]:
name =  [ "vimal" , "rahul", "eric" , "harry" , "pop"]

In [13]:
name

['vimal', 'rahul', 'eric', 'harry', 'pop']

In [8]:
type(name)

list

In [9]:
name[0]

'vimal'

In [10]:
name[1]

'rahul'

In [14]:
name

['vimal', 'rahul', 'eric', 'harry', 'pop']

In [16]:
name[1:4]

['rahul', 'eric', 'harry']

In [17]:
name[:4]

['vimal', 'rahul', 'eric', 'harry']

In [18]:
name[2:]

['eric', 'harry', 'pop']

In [19]:
name

['vimal', 'rahul', 'eric', 'harry', 'pop']

In [21]:
name[-2]

'harry'

In [22]:
name

['vimal', 'rahul', 'eric', 'harry', 'pop']

In [23]:
len(name)

5

In [27]:
name =  [  ["vimal", 1111]  , ["rahul", 2222] , ["eric",3333] , ["harry",4444] , ["pop",5555] ]

In [28]:
name

[['vimal', 1111],
 ['rahul', 2222],
 ['eric', 3333],
 ['harry', 4444],
 ['pop', 5555]]

In [29]:
len(name)

5

In [30]:
name

[['vimal', 1111],
 ['rahul', 2222],
 ['eric', 3333],
 ['harry', 4444],
 ['pop', 5555]]

In [31]:
name[0]

['vimal', 1111]

In [32]:
name[2]

['eric', 3333]

In [33]:
name[1:4]

[['rahul', 2222], ['eric', 3333], ['harry', 4444]]

In [38]:
name[0][1]

1111

In [39]:
name[1][1]

2222

In [40]:
name[2][1]

3333

In [41]:
name =  [  ["vimal", 1111]  , ["rahul", 2222] , ["eric",3333] , ["harry",4444] , ["pop",5555] ]

In [42]:
type(name)

list

In [43]:
name[1:3]

[['rahul', 2222], ['eric', 3333]]

In [44]:
name

[['vimal', 1111],
 ['rahul', 2222],
 ['eric', 3333],
 ['harry', 4444],
 ['pop', 5555]]

In [45]:
type(name)

list

In [46]:
array(name)

NameError: name 'array' is not defined

In [47]:
import numpy

In [50]:
a = numpy.array(name)

In [51]:
type(a)

numpy.ndarray

In [52]:
name

[['vimal', 1111],
 ['rahul', 2222],
 ['eric', 3333],
 ['harry', 4444],
 ['pop', 5555]]

In [53]:
a

array([['vimal', '1111'],
       ['rahul', '2222'],
       ['eric', '3333'],
       ['harry', '4444'],
       ['pop', '5555']], dtype='<U5')

In [57]:
a[0:4 , 1]

array(['1111', '2222', '3333', '4444'], dtype='<U5')

In [60]:
a[: , 1]

array(['1111', '2222', '3333', '4444', '5555'], dtype='<U5')